* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    font-weight: normal;
}
.top-bar {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 56px;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: -32px;
}
.nav-menu__item a {
    font-size: 16px;
    line-height: 24px;
    color: #0B2330;
    text-decoration: none;
}
.buttons {
    font-size: 16px;
    line-height: 24px;
    margin-left: 121px;
    column-gap: 24px;
    display: flex;
    align-items: center;
    margin-right: -32px;
}
.sff {
    height: 54px;
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    padding: 14px 29px 16px 29px;
    cursor: pointer;
}
.vector {
    display: flex;
    align-items: center;
    gap: 8px;
}
.vector-gap {
    display: flex;
    align-items: center;
    column-gap: 48px;
}
.header-wrap-content {
    display: flex;
    justify-content: space-between;
    height: 886px;
}
.header-content {
    display: flex;
    flex-direction: column;
    width: 436px;
    margin: 154px 147px 445px 147px;
}
.HC-title {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin-bottom: 32px;
    height: 256px;
}
.HC-text {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    height: 96px;
    margin-bottom: 38px;
}
.text-bb {
    height: 54px;
    font-size: 16px;
    line-height: 24px;
    column-gap: 16px;
    display: flex;
    align-items: center;
}
.HC-image {
    display: flex;
    justify-content: center;
    position: relative;
    top: 172px;
    right: 110px;
}
.sffy {
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px 29px 16px 29px;
    cursor: pointer;
    height: 54px;
    width: 163px;
}
.yellow-bg {
    background: #F9C600;
}
.orange-bg {
    height: 886px;
    background: #F9C600;
    display: flex;
    position: absolute;
    width: 600px;
}
.img-ybg {
    display: flex;
    justify-content: center;
    position: relative;
    width: 600px;
    margin-top: 235px;
}
.wrap-header-logo {
    height: 352px;
    margin-top: 189px;
    margin-bottom: 192px;
}

.txt-logo2 {
    display: flex;
    align-content: center;
    width: 547px;
    height: 96px;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin: auto;
    margin-bottom: 59px;
}
.logos {
    display: flex;
    width: 1143px;
    margin: auto;
}
.wrap-bike {
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    column-gap: 20px;
    margin-bottom: 191px;
}
.bike-img {
    display: flex;
    justify-content: center;
    position: relative;
}
.bike-txt {
    display: flex;
    justify-content: center;
    height: 248px;
    width: 562px;
    flex-direction: column;
    margin: auto;
    margin-right: 148px;
}
.h2-bike {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-bottom: 35px;
}
.bike-txt-p {
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}
.txt-below-bike {
    display: flex;
    align-content: center;
    width: 711px;
    height: 80px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin: auto;
    margin-bottom: 57px;
}
.img-onbor {
    display: flex;
    width: 911px;
    margin: auto;
    margin-bottom: 113px;
}
.sff-bb {
    display: flex;
    margin: auto;
    cursor: pointer;
    height: 54px;
    width: 163px;
    border: 1px solid #F9C600;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 160px;
}
.container-purple {
    height: 537px;
    width: 1260px;
    margin-left: 148px;
    margin-right: 32px;
    border-radius: 10px;
    background: #BD78F0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
}
.img-purple {
    display: flex;
    justify-content: center;
    position: relative;
    left: -116px;
    top: 64px;
    height: 409px;
}
.text-cont-p {
    display: flex;
    justify-content: center;
    height: 537px;
    width: 562px;
    flex-direction: column;
    margin: auto;
    margin-right: 148px;
}
.h3-purple {
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    margin-bottom: 39px;
}
.txt-purple {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #0B2330;
}
.container-below-purple {
    height: 1772px;
    justify-content: space-between;
}
.purple-con-wrap {
    width: 1027px;
    height: 240px;
    margin-left: 148px;
    margin-right: 265px;
    margin-bottom: 173px;
}
.solution {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #6A7981;
    margin-bottom: 13px;
}
.how-sprig {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
    width: 593px;
    margin-bottom: 26px;
}
.below-hs {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    width: 500px;
}

.purple-row-txt {
    width: 513px;
    height: 348px;

}
.gpo-vector {
    display: flex;
    margin-bottom: 23px;
    height: 20px;
    width: 20px;
}
.gpo-h4 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
    margin-bottom: 29px;
    width: 402px;
}
.gpo-txt {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-bottom: 64px;
    width: 484px;
}
.learn-more {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    width: 144px;
    height: 54px;
    cursor: pointer;
    background: white;
}
.gpo-img {
    justify-content: center;
    position: relative;
    height: 348px;
}
.purple-wrapper {
    width: 1260px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin: 0px 132px 76px 148px;
}
.green-wrapper {
    width: 1260px;
    height: 330px;
    justify-content: space-between;
    margin: 0px 132px 76px 148px;
    display: flex;
}
.orange-wrapper {
    width: 1260px;
    height: 400px;
    justify-content: space-between;
    margin: 0px 132px 0px 148px;
    display: flex;
}
.org-btn {
    position: relative;
    top: -36px;
    row-gap: 8px;
    width: 1143px;
    height: 24px;
    margin: auto;
}
.cm {
    width: 228px;
}
.vq {
    width: 147px;
}
.ct {
    width: 152px;
    background: #FE9F28;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #0B2330;
    cursor: pointer;
    border: 0;
}
.bgr-small-btn {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #61757E;
    border-radius: 4px;
    background: #E7EAEB;
    cursor: pointer;
    border: 0;
}